/* 
Color Scheme: 
#051420
#17507c
#2680c5
Lightblue 
*/

/* General */

html,
.sections {
  height: 100%;
}

body {
  overflow: hidden;
  background-color: #051420 !important;
}


.highlight {
  color: #2680c5;
  text-decoration: none;
}


/* Top navbar */

.top-nav {
  box-shadow: 0 8px 6px -6px #02080e;
  -moz-box-shadow: 0 8px 6px -6px #02080e;
  -webkit-box-shadow: 0 8px 6px -6px #02080e;
}

.active {
  font-weight: 700;
  color: lightblue !important;
}

i {
  color: #2680c5;
  font-size: larger;
}

i:hover {
  color: #17507c;
}

/* Central Main element */

.main {
  height: 100vh;
  overflow: scroll !important;
}

/* Left and right elements */

.navitems {
  color: #2680c5 !important;
}

.navitems:hover {
  color: #17507c !important;
}


.assoc {
  width: 80%;
  margin: auto;
  padding-top: 20%;
  filter: sepia() saturate(500%) hue-rotate(180deg);
}

.assoc:hover {
  filter: none;
}

/* Introduction */

.intro {
  top: 30%;
  padding: 5%;
  width: 90% !important;
  position: relative;
  color: lightblue;
  border-radius: 7px;
  border: 2px solid #2680c5;
  background-color: transparent;
}

.pronoun {
  margin-left: 3%;
  font-size: small;
  position: relative;
}

.bio-title {
  top: 31%;
  left: 10%;
  width: 50%;
  z-index: 100;
  font-size: 2.5em;
  text-align: center;
  color: lightblue;
  position: relative;
  background-color: #051420;
}

.darken {
  color: #17507c;
}

.profile-photo {
  position: relative;
  margin: auto;
  top: 20%;
  border-radius: 5%;
  /* clip-path: polygon(50% 0%, 0% 100%, 100% 45%); */
}

/* About */

.about-title {
  position: absolute;
  top: -10%;
  font-size: 2.5em;
  padding-left: 3%;
  padding-right: 3%;
  background-color: #051420;
  width: 25%;
}

.skills {
  position: relative;
  width: 100%;
  height: 100%;
}

.bubble {
  display: inline-block;
  background-color: #2680c5;
  border-radius: 16px;
  padding: 1%;
  margin-right: 1%;
  color: #051420;
}

.bubble:hover {
  background-color: #17507c;
}

/* Experiences */

.exp-div {
  top: 15%;
  padding: 3%;
  position: relative;
  border-radius: 15px;
  border: 2px solid #17507c;
  box-shadow: 0 4px 8px 0 #02080e, 0 6px 20px 0 #02080e;
}

.exp-title {
  top: 17%;
  left: 20%;
  width: 20%;
  z-index: 100;
  font-size: 2.5em;
  position: relative;
  text-align: center;
  color: lightblue;
  background-color: #051420;
}

.exp-nav {
  width: 100%;
  position: relative;
}

.exp-nav>li {
  font-size: xx-large;
}

.exp-active {
  color: lightblue !important;
}

.exp-headlines-1 {
  font-size: 2.5em;
  font-weight: 700;
  color: lightblue;
}

.exp-headlines-2 {
  font-size: 1em;
  color: #2680c5;
}

.exp-list {
  width: 90%;
}

.exp-list>li {
  border: 0;
  font-size: larger;
  color: lightblue;
  background-color: transparent;
}

/* Education  */

.edu-div {
  top: 25%;
  padding: 3%;
  position: relative;
  border-radius: 15px;
  border: 2px solid #17507c;
  box-shadow: 0 4px 8px 0 #02080e, 0 6px 20px 0 #02080e;
}

.edu-title {
  top: 27%;
  left: 18%;
  width: 20%;
  z-index: 100;
  font-size: 2.5em;
  color: lightblue;
  position: relative;
  text-align: center;
  background-color: #051420;
}

.exp-headlines-3 {
  font-size: 1em;
  color: lightblue;
}

/* Projects */

.projects-div {
  top: 5%;
  padding: 2%;
  position: relative;
  border-radius: 15px;
  border: 2px solid #17507c;
  box-shadow: 0 4px 8px 0 #02080e, 0 6px 20px 0 #02080e;
}

.proj-title {
  top: 7%;
  left: 18%;
  width: 18%;
  z-index: 100;
  font-size: 2.5em;
  text-align: center;
  position: relative;
  color: lightblue;
  background-color: #051420;
}

.proj-card {
  margin: 5%;
  padding: 5%;
  border-radius: 8px;
  background-color: #17507c;
  box-shadow: 0 4px 8px 0 #02080e, 0 6px 20px 0 #02080e;
}

.proj-card>h4 {
  color: lightblue;
}

.proj-card>p {
  color: lightgray;
}

/* Photography */

.photo-div {
  top: 5%;
  padding: 3%;
  position: relative;
  border-radius: 15px;
  border: 2px solid #17507c;
  box-shadow: 0 4px 8px 0 #02080e, 0 6px 20px 0 #02080e;
}

.photo-title {
  top: 7%;
  left: 18%;
  width: 25%;
  z-index: 100;
  font-size: 2.5em;
  position: relative;
  text-align: center;
  color: lightblue;
  background-color: #051420;
}

.hobby {
  color: #2680c5;
  margin-bottom: 3%;
  text-align: center;
}